{% load static %}
{% block doctype %} <html lang="en"> {% endblock %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cases in India{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'ActiveCases/style.css' %}" />
</head>
{% endblock %}
<body>
    <nav class="navbar navbar-light shadow-lg mb-2 bg-white">
        <a class="navbar-brand mx-auto"  href="#">INDIA</a>
    </nav>
{% block content %}
{% endblock %}
</body>
</html>